win/ipch/
win/bin/
win/obj/
*.user
*.opensdf
data/
*.sdf
*.suo
ios/lib
ios/objViewer.xcworkspace/xcuserdata
ios/objViewer/objViewer.xcodeproj/xcuserdata
ios/Application3D/Application3D.xcodeproj/xcuserdata
